body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.login-box {
    background: white;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-align: center;
}


.title {
    margin-bottom: 20px;
}


.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-field {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


.login-btn {
    background-color: #40739e;
}

.login-btn:hover {
    background-color: #487eb0;
}


.error {
    color: red;
    margin-top: 10px;
}


.register-link {
    margin-top: 15px;
    font-size: 14px;
}

.register-link a {
    color: #40739e;
    text-decoration: none;
    font-weight: bold;
}