
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #fbc2eb, #a6c1ee);
    margin: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.register-box {
    background: white;
    padding: 35px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-align: center;
}


.title {
    margin-bottom: 25px;
}


.input-group {
    text-align: left;
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-top: 10px;
}


.register-btn {
    background-color: #44bd32;
}

.register-btn:hover {
    background-color: #4cd137;
}


.error {
    color: red;
    font-size: 12px;
    margin-top: 3px;
}


.login-link {
    margin-top: 15px;
    font-size: 14px;
}

.login-link a {
    color: #40739e;
    font-weight: bold;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}